In [1]:
import pandas as pd

In [51]:
df = pd.DataFrame(["male", "MALE", "mle", "I am male", "femail", "female", "enby"], columns = ["gender"])

In [50]:
df

      gender      Typos
0       male       male
1       MALE       male
2        mle        mle
3  I am male  i am male
4     femail     femail
5     female     female
6       enby       enby

In [14]:
gender_list = pd.read_csv('/Users/mpacer/jupyter/gendercoder/inst/extdata/GenderDictionary_List.csv')
gender_typos = pd.read_csv('/Users/mpacer/jupyter/gendercoder/inst/extdata/GenderDictionary.csv')

In [28]:
df['Typos'] = df.gender.apply(lambda x: x.lower())
df.join(gender_typos.set_index("Typos"), on="Typos", lsuffix="anything", rsuffix="hi")

      gender      Typos   Input BroadOptions            ThreeOptions
0       male       male    male         male                    male
1       MALE       male    male         male                    male
2        mle        mle    male         male                    male
3  I am male  i am male     NaN          NaN                     NaN
4     femail     femail     NaN          NaN                     NaN
5     female     female  female       female                  female
6       enby       enby    enby   non-binary  sex and gender diverse

In [58]:
gender_list = pd.read_csv('/Users/mpacer/jupyter/gendercoder/inst/extdata/GenderDictionary_List.csv')
gender_typos = pd.read_csv('/Users/mpacer/jupyter/gendercoder/inst/extdata/GenderDictionary.csv')

def genderRecoder(in_df, mode="narrow"):
    temp_df = in_df.copy()
    temp_df['Typos'] = in_df.gender.apply(lambda x: x.lower())
    if mode =="narrow":
        blah = in_df.copy()
        blah['encoded'] = temp_df.join(gender_typos.set_index("Typos"), on="Typos", lsuffix="anything", rsuffix="hi")["ThreeOptions"]
    return blah

In [54]:
df

      gender
0       male
1       MALE
2        mle
3  I am male
4     femail
5     female
6       enby

In [59]:
genderRecoder(df)

      gender                 encoded
0       male                    male
1       MALE                    male
2        mle                    male
3  I am male                     NaN
4     femail                     NaN
5     female                  female
6       enby  sex and gender diverse